@charset "UTF-8";

button,
fieldset,
iframe,
input,
select,
textarea {
	font-family: inherit;
}
html {
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 100%;
}
body {
	height: 100vh;
	font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	background: var(--grays-6);
}

/* base-wrap */
.base-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 128rem;
	width: 100%;
	height: 100%;
}
.base-wrap::before {
	position: absolute;
	top: 0;
	left: 0; 
	width: 22rem;
	min-height: 100%;
	background-color: #fff;
	box-shadow: .4rem .4rem 2.1rem 0 rgba(86, 86, 86, 0.07);
	content: "";
}

/* base-header */
.base-header {
	position: relative;
	display: flex;
}
.header-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22rem;
}
.header-logo {
	width: 22rem;
	height: 7.8rem;
}
.header-logo .header-link {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 15.6rem;
	background-image: url("../../images/common/logo.svg");
}
.header-account {
	display: flex;
	align-items: center;
	margin-top: 1.6rem;
	padding:0 2rem 1rem;
	width: 18rem;
	padding: 1.5rem 1.5rem;
	border-radius: .8rem;
	background-color: var(--grays-6);
}
.user-profile {
	max-width: 4rem;
	margin-right: 1rem;
}
.user-profile > img {
	width: 100%;
	height: 100%;
}
.user-level {
	display: block;
	color: var(--grays-3);
	font-size: 1.3rem;
	font-weight: 500;
}
.user-name {
	position: relative;
	color: var(--grays-2);
	font-size: 1.3rem;
	font-weight: 500;
}

/* base-aside */
.base-aside {
	overflow: hidden;
	display: flex;
	position: relative;
	width: 22rem;
	height: 100%;
	padding: 1rem .4rem 1rem 1rem;
}

/* lnb */
.lnb {
	display: none;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.lnb.is-active {
  display: block;
}
.lnb-sub {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.lnb-item.is-extend .lnb-sub {
  height: auto;
}
.lnb.main .lnb-item.is-none .lnb-link::after {
  display: none;
}
.lnb-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.2rem 1.8rem 1.2rem 2rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-decoration: none;
  cursor: pointer;
}
.lnb-item.is-active > .lnb-link {
  color: var(--grays-1);
  font-weight: 600;
}
.lnb-sub {
  margin: .6rem 0;
  padding-left: 5.1rem;
}
.lnb-sub-link {
  position: relative;
  display: block;
  padding-left: 1.2rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.lnb-sub-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: var(--grays-3);
  border-radius: 50%;
  transform: translateY(-50%);
}
.lnb-subItem.is-active > .lnb-sub-link {
  color: var(--primary);
}
.lnb-subItem.is-active .lnb-sub-link::before {
  background-color: var(--primary);
}
.lnb-subItem + .lnb-subItem {
  margin-top: 1.2rem;
}
.lnb-subItem + .lnb-sub-link {
  margin-top: .6rem;
}
.lnb-sub.depth3 {
  padding-left: 1.2rem;
  margin-top: 1rem;
}
.lnb-sub-link2 {
  min-height: 2.2rem;
  color: var(--grays-3);
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.lnb-sub.depth3 li:not(:first-child) {
  margin-top: .6rem;
}

/* lnb-main */
.lnb.main .lnb-link::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 1.2rem .7rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C3.35283 2.55259 4.52748 3.56712 6 6L11 1' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  margin-left: auto;
  transition: transform 0.1s ease;
  transform: rotate(0);
}
.lnb.main .lnb-item.is-extend .lnb-link::after {
  transform: rotate(180deg);
}
.lnb.main .lnb-link::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .6rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.lnb.main .lnb-item:nth-child(1) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.14258 10.2952V19.5809C5.14258 20.1332 5.59029 20.5809 6.14258 20.5809H8.84462C9.3969 20.5809 9.84462 20.1332 9.84462 19.5809V15.3471C9.84462 14.7948 10.2923 14.3471 10.8446 14.3471H13.1548C13.7071 14.3471 14.1548 14.7948 14.1548 15.3471V19.5809C14.1548 20.1332 14.6025 20.5809 15.1548 20.5809H17.8569C18.4091 20.5809 18.8569 20.1332 18.8569 19.5809V10.2952' stroke='%23777777' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.57031 12.0078L11.3262 4.04792C11.7076 3.70118 12.2901 3.70118 12.6716 4.04792L21.4275 12.0078' stroke='%23777777' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(2) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.9996' cy='7.72822' r='3.78572' fill='white' stroke='%23777777'/%3E%3Cpath d='M17.1017 15.4768C18.2329 16.608 18.9497 18.0762 19.1542 19.6454C19.1809 19.85 19.0112 20.0781 18.7147 20.0781H12.0004L5.28613 20.0781C4.98966 20.0781 4.81998 19.85 4.84664 19.6454C5.05119 18.0762 5.76795 16.608 6.89915 15.4768C8.25209 14.1238 10.0871 13.3638 12.0004 13.3638C13.9138 13.3638 15.7487 14.1238 17.1017 15.4768Z' fill='white' stroke='%23777777'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(3) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 19H3L6.5 10L8.5 12.5H13.5L16.5 5.5L22 9.5L21 12.5L19 12L18 15L20 19H16.5L14 16.5H8.5L6 19Z' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5 10H3.5L2 13.5' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5 17L11.5 22' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5 2V10' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 2H13.5' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 22H13.5' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(4) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10.5015H9.5V19.5015C9.5 20.606 8.60457 21.5015 7.5 21.5015C6.39543 21.5015 5.5 20.606 5.5 19.5015V10.5015Z' fill='white' stroke='%23888888'/%3E%3Cpath d='M17 17.0015V3.00146L11.8469 5.37771C10.8937 5.8173 9.85638 6.04494 8.80662 6.04494H5.95652C3.77139 6.04494 2 7.81634 2 10.0015C2 12.1866 3.7714 13.958 5.95652 13.958H8.80662C9.85638 13.958 10.8937 14.1856 11.8469 14.6252L17 17.0015Z' fill='white' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='9.25' y='6.25146' width='0.5' height='8.5' fill='%23E80000' stroke='%23888888' stroke-width='0.5'/%3E%3Cpath d='M12 15.0015V15.0015C12 16.106 11.1046 17.0015 10 17.0015V17.0015' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='19' cy='10' r='2.5' fill='white' stroke='%23888888'/%3E%3Crect x='16.5' y='2.5' width='3' height='15' rx='1.5' fill='white' stroke='%23888888'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(5) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.5' y='6.5' width='17' height='4' rx='0.5' stroke='%23888888'/%3E%3Cpath d='M4.5 10.5H19.5V21C19.5 21.2761 19.2761 21.5 19 21.5H5C4.72386 21.5 4.5 21.2761 4.5 21V10.5Z' stroke='%23888888'/%3E%3Crect x='10.5' y='6.5' width='3' height='15' stroke='%23888888'/%3E%3Cpath d='M7.5 4.5C7.5 3.39543 8.39543 2.5 9.5 2.5C10.6046 2.5 11.5 3.39543 11.5 4.5V6.5H9.5C8.39543 6.5 7.5 5.60457 7.5 4.5Z' stroke='%23888888'/%3E%3Cpath d='M16.5 4.5C16.5 3.39543 15.6046 2.5 14.5 2.5C13.3954 2.5 12.5 3.39543 12.5 4.5V6.5H14.5C15.6046 6.5 16.5 5.60457 16.5 4.5Z' stroke='%23888888'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(6) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1377 20C13.5145 19.0383 17.3145 17.6918 21.5 20V5.57377M2.5 5.31147V20C3.87681 19.0383 7.67681 17.6918 11.8623 20V12.918V5.83606M2.5 5.27447C3.87681 4.31273 7.67681 2.96628 11.8623 5.27447M12.1377 5.27447C13.5145 4.31273 17.3145 2.96628 21.5 5.27447' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(7) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1377 20C13.5145 19.0383 17.3145 17.6918 21.5 20V5.57377M2.5 5.31147V20C3.87681 19.0383 7.67681 17.6918 11.8623 20V12.918V5.83606M2.5 5.27447C3.87681 4.31273 7.67681 2.96628 11.8623 5.27447M12.1377 5.27447C13.5145 4.31273 17.3145 2.96628 21.5 5.27447' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(8) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12V11C5 7.13401 8.13401 4 12 4V4C15.866 4 19 7.13401 19 11V12' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12V11C3 6.02944 7.02944 2 12 2V2C16.9706 2 21 6.02944 21 11V12' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 13C1.5 11.6193 2.61929 10.5 4 10.5H5C5.27614 10.5 5.5 10.7239 5.5 11V17C5.5 17.2761 5.27614 17.5 5 17.5H4C2.61929 17.5 1.5 16.3807 1.5 15V13Z' fill='white' stroke='%23888888'/%3E%3Cpath d='M20 17V17C20 18.6569 18.6569 20 17 20H14' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='9.5' y='18.5' width='5' height='3' rx='1.5' fill='white' stroke='%23888888'/%3E%3Cpath d='M22.5 13C22.5 11.6193 21.3807 10.5 20 10.5H19C18.7239 10.5 18.5 10.7239 18.5 11V17C18.5 17.2761 18.7239 17.5 19 17.5H20C21.3807 17.5 22.5 16.3807 22.5 15V13Z' fill='white' stroke='%23888888'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(9) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='11.5' width='5' height='7' rx='0.5' fill='white' stroke='%23888888'/%3E%3Crect x='9.5' y='7.5' width='5' height='11' rx='0.5' fill='white' stroke='%23888888'/%3E%3Crect x='16.5' y='3.5' width='5' height='15' rx='0.5' fill='white' stroke='%23888888'/%3E%3Cpath d='M2 21H22' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.lnb.main .lnb-item:nth-child(10) .lnb-link::before {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1631 2C9.73914 2 9.36766 2.27438 9.25612 2.66989L8.83891 4.14921C8.7668 4.40491 8.5959 4.6214 8.36394 4.75091L7.31198 5.33824C7.08857 5.46297 6.82583 5.49732 6.57785 5.43421L5.01649 5.03683C4.60652 4.93249 4.17506 5.10641 3.96309 5.46144L2.12597 8.53854C1.914 8.89357 1.97398 9.34187 2.27241 9.63304L3.38862 10.7221C3.58151 10.9103 3.69027 11.1684 3.69027 11.4379V12.5621C3.69027 12.8316 3.58151 13.0897 3.38862 13.2779L2.27241 14.3669C1.97398 14.6581 1.914 15.1064 2.12597 15.4614L3.96309 18.5385C4.17506 18.8936 4.60652 19.0675 5.01649 18.9631L6.57797 18.5657C6.82594 18.5026 7.08868 18.537 7.3121 18.6617L8.3639 19.249C8.59587 19.3785 8.76676 19.595 8.83887 19.8507L9.25612 21.3301C9.36766 21.7256 9.73914 22 10.1631 22H13.8373C14.2613 22 14.6327 21.7256 14.7443 21.3301L15.1615 19.8508C15.2336 19.5951 15.4045 19.3786 15.6364 19.2491L16.6883 18.6618C16.9117 18.5371 17.1745 18.5027 17.4225 18.5659L18.9835 18.9632C19.3935 19.0675 19.8249 18.8936 20.0369 18.5385L21.874 15.4614C22.086 15.1064 22.026 14.6581 21.7276 14.3669L20.612 13.2785C20.4191 13.0903 20.3103 12.8322 20.3103 12.5627V11.4373C20.3103 11.1678 20.4191 10.9097 20.612 10.7215L21.7276 9.63304C22.026 9.34187 22.086 8.89357 21.874 8.53854L20.0369 5.46144C19.8249 5.10641 19.3935 4.93249 18.9835 5.03683L17.4226 5.4341C17.1746 5.49721 16.9119 5.46287 16.6884 5.33813L15.6364 4.75076C15.4044 4.62125 15.2336 4.40476 15.1614 4.14907L14.7443 2.66989C14.6327 2.27438 14.2613 2 13.8373 2H10.1631Z' stroke='%23888888' stroke-linejoin='round'/%3E%3Cpath d='M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z' stroke='%23888888' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

/* base-content */
.base-content {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 22rem; 
	width: calc(100% - 22rem);
	height: calc(100%);
	padding: 2.8rem;
	box-sizing: border-box;
}
.content-title {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.75;
}
.content-subtitle {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.5;
}
.content-inner {

}
.module-top {

}
.module-bottom {
	margin-top: 4rem;
}

/* loading */
.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200000;
  width: 100%;
  height: 100%;
  text-indent: -500000px;
}  
.loading::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect opacity='0.7' width='70' height='70' rx='35' fill='%23F0F4FF'/%3e%3ccircle cx='35' cy='35' r='20' stroke='%23D8EBFF' stroke-width='10'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M35 10C48.8048 10 59.9962 21.1891 60 34.993L60 35V35.007C59.9962 48.8109 48.8048 60 35 60V50C43.2843 50 50 43.2843 50 35C50 26.7157 43.2843 20 35 20C32.2386 20 30 17.7614 30 15C30 12.2386 32.2386 10 35 10Z' fill='url(%23paint0_linear_855_85688)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_855_85688' x1='54.5' y1='40' x2='38.5' y2='57' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23017DF0'/%3e%3cstop offset='1' stop-color='%23D9D9D9' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center center;
  animation: loadingMove 1s infinite;
}
@keyframes loadingMove{
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* login */
.base-wrap.login {
	position: relative;
	display: flex;
	flex-direction: row;
	min-width: auto;
	justify-content: center;
	align-items: center;
  background: linear-gradient(106.92deg, #F16122 6.71%, #FFC501 101.15%);
}
.base-wrap.login::before {display:none;}
.base-wrap.login .base-content {
	overflow: hidden;
	position: static;
	width: auto;
	height: auto;
	padding: 5rem;
	box-sizing: border-box;
}
.login-logo {
	text-align: center;
}
.login-logo > img {
	width: 28rem;
	height: auto;
}
.login-logo em {
  display: block;
	margin-left: .8rem;
  color: #000;
	font-size: 2rem;
	font-weight: 600;
}
.login-form {
	position: relative;
	width: 47rem;
	height: 51.2rem;
	margin-top: 3.6rem;
	padding: 5rem;
	background: #fff;
	border-radius: 3rem;
	box-shadow: 4px 4px 25px 0px rgba(125, 60, 0, 0.34);
}
.login-form .btn__login {
	margin-top: 3.8rem;
}
.login-form .wrap-inp {
	gap: 0;
	margin-top: .8rem;
}
.login-form .wrap-inp:first-child {
	margin-top: 0;
}
.login-form .login-head {
	margin-bottom: 2.4rem;
}
.login-form .login-title {
	color: var(--grays-1);
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
}
.login-form .inp-base {
	width: 100%;
	height: 5.6rem;
	font-size: 1.8rem;
	background: var(--grays-6);
	border-width: 0;
	border-radius: .4rem;
}
.login-form .lb-inp {
	min-width: initial;
}
.login-form .form-checkbox {
	margin-top: 1rem;
}
.login-form .btn-group {
	margin-top: 3.6rem;
}
.login-form .btn-group .btn {
	height: 5rem;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: -.02rem;
}
.login-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2.4rem;
	margin-top: 4rem;
	border-top: .1rem solid var(--secondary-3);
}
.login-info::after {
	content: '';
	display: inline-block;
	width: 5rem;
	height: 5rem;
	background: url('../../images/ico/ico-inquiry.svg') no-repeat 100%;
}
.login-info .login-text {
	color: var(--grays-3);
	font-size: 1.4rem;
	line-height: 1.4;
}
.login-info .login-text em {
	display: block;
	margin-bottom: .4rem;
	color: var(--grays-1);
	font-size: 1.6rem;
	font-weight: 600;
}

/* error */
.error .wrap-error {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.error .wrap-error .error-txt {
	position: relative;
	color: var(--grays-2);
	font-size: 2rem;
	line-height: 2.8rem;
	text-align: center;
}
.error .wrap-error .error-txt > em {
	display: block;
	margin: 3rem 0 1.2rem;
	color: var(--grays-1);
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 4rem;
}
.error .wrap-error .error-txt::before {
	content: '';
	position: absolute;
	top: -9.8rem;
	left: 50%;
	display: block;
	width: 9.8rem;
	height: 9.8rem;
	background: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='49' cy='49' r='49' fill='%23CCCCCC'/%3E%3Crect x='44.1006' y='24.5' width='9.8' height='35.28' rx='4.9' fill='white'/%3E%3Ccircle cx='49.0006' cy='68.6' r='4.9' fill='white'/%3E%3C/svg%3E%0A") no-repeat 50% / 100%;
	transform: translateX(-50%);
}