<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>엔돌스타 가이드</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/jquery-ui.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-grid.min.css"> <!-- grid table -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-pagination.min.css"> <!-- grid table -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="component"> <!-- [Exclude attr] "data-route" only UI Template -->
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- inlcude -->
    <header class="base-header"></header>
    <aside class="base-aside"></aside>
    <!-- // inlcude -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Grids</h1>
      <h2 class="component-title">Default</h2>
      <div class="component-link"><a href="https://nhn.github.io/tui.grid/latest/Grid" target="_blank" class="link">API/Examples</a></div>
<pre>
<code class="language-Markup">실데이터 바인딩 가이드

1. 데이터 형식: JSON
백엔드에서 데이터를 받아올 때 JSON 형식으로 변환하여 클라이언트로 전달
예를 들어, gridData1은 다음과 같이 정의

const gridData1 = [
  {
    처리유형: '고객직접변경',
    처리자: 'endorhappy001',
    변경유형: '비밀변경',
    변경사유: '비밀번호 변경',
    변경처리일: '2024-02-26 15:00',
  },
  // 다른 데이터...
];

2. 백엔드와 연동
백엔드에서 API 엔드포인트를 만들어 데이터를 JSON 형식으로 제공하면,
클라이언트에서 AJAX 요청을 통해 데이터를 받아와 그리드에 바인딩

예시)
$.ajax({
  url: '/api/getGridData1', // 백엔드 API 엔드포인트
  method: 'GET',
  success: function(data) {
    grid1.resetData(data); // 그리드에 데이터 바인딩
  },
  error: function(error) {
    console.error('Error fetching grid data:', error);
  }
});

3. 초기 데이터 설정 및 바인딩
const grid1 = new tui.Grid({
  el: document.getElementById('grid1'),
  data: [], // 초기 데이터는 빈 배열
  scrollX: false,
  scrollY: false,
  minRowHeight: '48',
  minBodyHeight: '240',
  contextMenu: null,
  pagination: true,
  pageOptions: {
    useClient: true,
    perPage: 5,
    element: document.getElementById('pagination1') // 한 화면에 다중 페이지네이션 생성시
  },
  columnOptions: {
    resizable: true
  },
  rowHeaders: [{ type: 'rowNum', header: 'NO.', renderer: RowNumberRenderer, width: 56 }],
  header: {
    height: 48
  },
  columns: [
    {
      header: '처리유형',
      name: '처리유형',
      align: 'center',
      width: 340,
    },
    {
      header: '처리자',
      name: '처리자',
      align: 'center'
    },
    {
      header: '변경유형',
      name: '변경유형',
      align: 'center',
    },
    {
      header: '변경사유',
      name: '변경사유',
      align: 'center'
    },
    {
      header: '변경처리일',
      name: '변경처리일',
      align: 'center',
      width: 199,
      sortable: true
    }
  ]
});

// 데이터 로드 후 바인딩
$.ajax({
  url: '/api/getGridData1',
  method: 'GET',
  success: function(data) {
    grid1.resetData(data);
  },
  error: function(error) {
    console.error('Error fetching grid data:', error);
  }
});</code>
</pre>
      </p>
      <div class="tbl-head">
        <select class="inp-select">
          <option value="" selected>10개씩 보기</option>
          <option value="">옵션1</option>
          <option value="">옵션1</option>
          <option value="">옵션1</option>
        </select>
        <button type="button" class="btn is-ico is-excel" onclick="saveExcel();"><span class="ico-excel">엑셀다운</span></button>
      </div>

      <!--  Grid 테이블 생성, 하기 set grid 스크립트 필요 -->
      <div id="grid" class="grid"></div> 

<pre>
<code class="language-Markup">&lt;script>
  // TUI Grid 초기화
  let Grid = tui.Grid;

  // 언어 설정
  Grid.setLanguage('ko', {
    display: {
      noData: '검색 결과가 없습니다.'
    }
  });

  // Grid 생성
  Grid = new tui.Grid({
    el: document.getElementById('grid'),
    scrollX: false, // 가로 스크롤
    scrollY: false, // 세로 스크롤
    minRowHeight: '48', // grid cell 높이
    minBodyHeight: '240', // grid body 높이
    contextMenu: null, // grid 우클릭 막기
    pageOptions: {
      useClient: true,
      perPage: 5 // 화면에 보여주는 리스트 개수
    },
    columnOptions: {
      resizable: true
    },
    rowHeaders: ['rowNum', 'checkbox'], // 행 번호와 체크박스
    header: {
      height: 48 // header 영역 높이
    },
    columns: [
      {
        header: '헤더1',
        name: '헤더1',
        align: 'center',
        ellipsis: 'true', // 내용 말줄임 표시
        sortable: true // 정렬 기능
      },
      {
        header: '헤더2',
        name: '헤더2',
        align: 'center',
        ellipsis: 'true'
      },
      {
        header: '헤더3',
        name: '헤더3',
        align: 'center',
        ellipsis: 'true'
      },
      {
        header: '헤더4',
        name: '헤더4',
        align: 'center',
        ellipsis: 'true'
      },
      {
        header: '헤더5',
        name: '헤더5',
        align: 'center',
        ellipsis: 'true'
      },
      {
        header: '헤더6',
        name: '헤더6',
        align: 'center',
        ellipsis: 'true'
      },
      {
        header: '헤더7',
        name: '헤더7',
        align: 'center',
        ellipsis: 'true'
      }
    ],
    data: [
      {
        헤더1: '콘텐츠 1',
        헤더2: '콘텐츠 1',
        헤더3: '콘텐츠 1',
        헤더4: '콘텐츠 1',
        헤더5: '콘텐츠 1',
        헤더6: '콘텐츠 1',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
        _attributes: { checkDisabled: true } // 체크박스 비활성화
      },
      {
        헤더1: '콘텐츠 2',
        헤더2: '콘텐츠 2',
        헤더3: '콘텐츠 2',
        헤더4: '콘텐츠 2',
        헤더5: '콘텐츠 2',
        헤더6: '콘텐츠 2',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      },
      {
        헤더1: '콘텐츠 3',
        헤더2: '콘텐츠 3',
        헤더3: '콘텐츠 3',
        헤더4: '콘텐츠 3',
        헤더5: '콘텐츠 3',
        헤더6: '콘텐츠 3',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      },
      {
        헤더1: '콘텐츠 4',
        헤더2: '콘텐츠 4',
        헤더3: '콘텐츠 4',
        헤더4: '콘텐츠 4',
        헤더5: '콘텐츠 4',
        헤더6: '콘텐츠 4',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      },
      {
        헤더1: '콘텐츠 5',
        헤더2: '콘텐츠 5',
        헤더3: '콘텐츠 5',
        헤더4: '콘텐츠 5',
        헤더5: '콘텐츠 5',
        헤더6: '콘텐츠 5',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      },
      {
        헤더1: '콘텐츠 6',
        헤더2: '콘텐츠 6',
        헤더3: '콘텐츠 6',
        헤더4: '콘텐츠 6',
        헤더5: '콘텐츠 6',
        헤더6: '콘텐츠 6',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      },
      {
        헤더1: '콘텐츠 7',
        헤더2: '콘텐츠 7',
        헤더3: '콘텐츠 7',
        헤더4: '콘텐츠 7',
        헤더5: '콘텐츠 7',
        헤더6: '콘텐츠 7',
        헤더7: '&lt;button class="btn is-outline-2 is-h26">버튼&lt;/button>',
      }
    ]
  });

  // 체크박스 체크 시 이벤트
  Grid.on('check', (ev) => {
    alert(`check: ${ev.rowKey}`);
  });

  // 체크박스 해제 시 이벤트
  Grid.on('uncheck', (ev) => {
    alert(`uncheck: ${ev.rowKey}`);
  });

  // Excel Export 기능
  function saveExcel() {
    const options = {
      includeHiddenColumns: true, // 숨겨진 컬럼 포함 여부
      onlySelected: true, // 선택한 영역만 내보내기
      fileName: 'myExport', // 파일명
      columnNames: ['헤더1', '헤더2', '헤더3', '헤더4', '헤더5', '헤더6'] // 내보낼 열 설정
    };
    Grid.export('xlsx', options);
  }
&lt;/script></code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/jquery/jquery-ui.min.js"></script>
  <script src="../../resources/js/lib/xlsx-full.min.js"></script> <!-- grid table -->
  <script src="../../resources/js/lib/tui-pagination.min.js"></script> <!-- grid table -->
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/tui-grid.min.js"></script> <!-- grid table -->
  <script src="../../resources/js/lib/swiper-bundle.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js common -->
  <script src="../../resources/js/common/ui.common.js"></script>
  <script src="../../resources/js/common/template.js"></script>

  <!-- page script -->
  <script>
    // lnb active
    window.addEventListener('load', function () {
      setTimeout(function () {
        lnbActive(5, null, null); // 1epth, 2epth, 3dpeth
      }, 50);
    });
  </script>

  <!-- set grid -->
  <script>
    // TUI Grid 초기화
    let Grid = tui.Grid;

    // 언어 설정
    Grid.setLanguage('ko', {
      display: {
        noData: '검색 결과가 없습니다.'
      }
    });

    // Grid 생성
    Grid = new tui.Grid({
      el: document.getElementById('grid'),
      scrollX: false, // 가로 스크롤
      scrollY: false, // 세로 스크롤
      minRowHeight: '48', // grid cell 높이
      minBodyHeight: '240', // grid body 높이
      contextMenu: null, // grid 우클릭 막기
      pageOptions: {
        useClient: true,
        perPage: 5 // 화면에 보여주는 리스트 개수
      },
      columnOptions: {
        resizable: true
      },
      rowHeaders: ['rowNum', 'checkbox'], // 행 번호와 체크박스
      header: {
        height: 48 // header 영역 높이
      },
      columns: [
        {
          header: '헤더1',
          name: '헤더1',
          align: 'center',
          ellipsis: 'true', // 내용 말줄임 표시
          sortable: true // 정렬 기능
        },
        {
          header: '헤더2',
          name: '헤더2',
          align: 'center',
          ellipsis: 'true'
        },
        {
          header: '헤더3',
          name: '헤더3',
          align: 'center',
          ellipsis: 'true'
        },
        {
          header: '헤더4',
          name: '헤더4',
          align: 'center',
          ellipsis: 'true'
        },
        {
          header: '헤더5',
          name: '헤더5',
          align: 'center',
          ellipsis: 'true'
        },
        {
          header: '헤더6',
          name: '헤더6',
          align: 'center',
          ellipsis: 'true'
        },
        {
          header: '헤더7',
          name: '헤더7',
          align: 'center',
          ellipsis: 'true'
        }
      ],
      data: [
        {
          헤더1: '콘텐츠 1',
          헤더2: '콘텐츠 1',
          헤더3: '콘텐츠 1',
          헤더4: '콘텐츠 1',
          헤더5: '콘텐츠 1',
          헤더6: '콘텐츠 1',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
          _attributes: { checkDisabled: true } // 체크박스 비활성화
        },
        {
          헤더1: '콘텐츠 2',
          헤더2: '콘텐츠 2',
          헤더3: '콘텐츠 2',
          헤더4: '콘텐츠 2',
          헤더5: '콘텐츠 2',
          헤더6: '콘텐츠 2',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        },
        {
          헤더1: '콘텐츠 3',
          헤더2: '콘텐츠 3',
          헤더3: '콘텐츠 3',
          헤더4: '콘텐츠 3',
          헤더5: '콘텐츠 3',
          헤더6: '콘텐츠 3',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        },
        {
          헤더1: '콘텐츠 4',
          헤더2: '콘텐츠 4',
          헤더3: '콘텐츠 4',
          헤더4: '콘텐츠 4',
          헤더5: '콘텐츠 4',
          헤더6: '콘텐츠 4',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        },
        {
          헤더1: '콘텐츠 5',
          헤더2: '콘텐츠 5',
          헤더3: '콘텐츠 5',
          헤더4: '콘텐츠 5',
          헤더5: '콘텐츠 5',
          헤더6: '콘텐츠 5',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        },
        {
          헤더1: '콘텐츠 6',
          헤더2: '콘텐츠 6',
          헤더3: '콘텐츠 6',
          헤더4: '콘텐츠 6',
          헤더5: '콘텐츠 6',
          헤더6: '콘텐츠 6',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        },
        {
          헤더1: '콘텐츠 7',
          헤더2: '콘텐츠 7',
          헤더3: '콘텐츠 7',
          헤더4: '콘텐츠 7',
          헤더5: '콘텐츠 7',
          헤더6: '콘텐츠 7',
          헤더7: '<button class="btn is-outline-2 is-h26">버튼</button>',
        }
      ]
    });

    // 체크박스 체크 시 이벤트
    Grid.on('check', (ev) => {
      alert(`check: ${ev.rowKey}`);
    });

    // 체크박스 해제 시 이벤트
    Grid.on('uncheck', (ev) => {
      alert(`uncheck: ${ev.rowKey}`);
    });

    // Excel Export 기능
    function saveExcel() {
      const options = {
        includeHiddenColumns: true, // 숨겨진 컬럼 포함 여부
        onlySelected: true, // 선택한 영역만 내보내기
        fileName: 'myExport', // 파일명
        columnNames: ['헤더1', '헤더2', '헤더3', '헤더4', '헤더5', '헤더6'] // 내보낼 열 설정
      };
      Grid.export('xlsx', options);
    }
  </script>
</body>
</html>