<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>엔돌스타 가이드</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/jquery-ui.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-grid.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-pagination.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="component"> <!-- [Exclude attr] "data-route" only UI Template -->
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- inlcude -->
    <header class="base-header"></header>
    <aside class="base-aside"></aside>
    <!-- // inlcude -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Modal</h1>
      <h2 class="component-title">Trigger</h2>
      <div class="btnBox">
        <a href="#modal1" class="btn is-grays-1" data-modal="open">a태그(href로 id값 전달)</a>
        <button type="button" class="btn is-grays-1" data-modal="open" data-url="#modal1">button태그(data-url로 id값 전달)</button>
        <button type="button" class="btn is-grays-1" onclick="customAlert.alert('알림', '알림 메시지', trueFn, '버튼명');">alert</button> 
        <button type="button" class="btn is-grays-1" onclick="customAlert.confirm('컨펌', '컨펌 메시지', trueFn, falseFn, '확인', '취소');">confirm</button> 
      </div>
<pre>
<code class="language-Markup">&lt;a href="#modal1" class="btn is-grays-1" data-modal="open">a태그(href로 id값 전달)&lt;/a>
&lt;button type="button" class="btn is-grays-1" data-modal="open" data-url="#modal1">button태그(data-url로 id값 전달)&lt;/button>
&lt;button type="button" class="btn is-grays-1" onclick="customAlert.alert('알림', '사용자에게 주의를 주거나 알림을&lt;br> 일방적으로 주는 경우에 사용합니다.', trueFn, '버튼명');">alert&lt;/button> 
&lt;button type="button" class="btn is-grays-1" onclick="customAlert.confirm('컨펌', '김해피님의 로그아웃을&lt;br>처리하시겠어요?', trueFn, falseFn, '확인', '취소');">confirm&lt;/button></code>
</pre>

    <h2 class="component-title">Markup</h2>
<pre class="mt-0">
<code class="language-Markup">&lt;!-- modal 마크업 필요 --&gt;
&lt;div id="modal1" class="modal" data-modal="target">
  &lt;div class="modal-dimmed">&lt;/div>
  &lt;div class="modal-inner" style="width: 450px;"> &lt;!-- 모달 크기 지정 --&gt;
    &lt;div class="modal-header">
      &lt;button class="modal-close" data-modal="close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;strong class="modal-title">$모달 타이틀$&lt;/strong>
    &lt;/div>
    &lt;div class="modal-content">
      &lt;!-- 모달 내용 입력 --&gt;
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;button type="button" class="btn is-grays-1 is-footer" data-modal="close">닫기&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>

&lt;!-- alert 마크업 필요 --&gt;
&lt;div id="alert" class="modal" data-modal="alert">
  &lt;div class="modal-dimmed">&lt;/div>
  &lt;div class="modal-inner has-alert">
    &lt;div class="modal-header">
      &lt;button class="modal-close" data-modal="close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;strong class="modal-title" id="alert__tit">$알럿 타이틀$&lt;/strong>
    &lt;/div>
    &lt;div class="modal-content">
      &lt;p class="alert-msg">$알럿 메시지$&lt;/p>
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;button type="button" class="btn is-footer is-false">취소&lt;/button>
      &lt;button type="button" class="btn is-footer is-true">확인&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>

    <h3 class="component-h3 mt-32">사용 예시</h3>
    <div class="btnBox">
      <button type="button" class="btn is-outline-2 is-h28" data-url="#testModal" data-modal="open">modal</button>
    </div>
<pre>
<code class="language-Markup">&lt;!-- 
모달의 독립성을 유지하기 위해 ModalManager 클래스에서 분리된 이벤트 처리 방식을 채택하여,
각 모달이 로드되는 시점에 페이지 또는 별도의 스크립트에서 해당 로직을 관리합니다.
--&gt;
&lt;script>
  document.addEventListener('DOMContentLoaded', function() {
    const previewModal = document.getElementById('testModal');
    previewModal.querySelector('.is-false').addEventListener('click', function() {
      console.log('취소 로직 실행');
      // 취소 로직 구현
      previewModal.classList.remove('is-show');
    });
    previewModal.querySelector('.is-true').addEventListener('click', function() {
      console.log('저장 로직 실행');
      // 저장 로직 구현
      previewModal.classList.remove('is-show');
    });
  });
&lt;/script></code>
</pre>

    <div class="btnBox mt-16">
      <button type="button" class="btn is-outline-2 is-h28" onclick="customAlert.confirm('컨펌', '김해피님의 로그아웃을<br>처리하시겠어요?', logout, cancelLogout, '로그아웃', '취소');">confirm</button> 
    </div>
<pre>
<code class="language-Markup">customAlert.confirm(
  title: string,              // confirm 타이틀
  message: string,            // confirm 메시지
  onConfirm: function,        // 확인 버튼 클릭 시 실행 함수
  onCancel: function,         // 취소 버튼 클릭 시 실행 함수
  confirmButtonText: string,  // 확인 버튼 텍스트
  cancelButtonText: string    // 취소 버튼 텍스트
);
customAlert.confirm('로그아웃', '로그아웃 하시겠습니까?', logout, cancelLogout, '로그아웃', '취소');

function logout() {
  console.log('사용자가 로그아웃을 처리합니다.');
  // 로그아웃 로직 실행
}

function cancelLogout() {
  console.log('로그아웃을 취소합니다.');
  // 취소 로직 실행
}</code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- modal -->
  <div id="modal1" class="modal" data-modal="target">
    <div class="modal-dimmed"></div>
    <div class="modal-inner" style="width: 450px;">
      <div class="modal-header">
        <button class="modal-close" data-modal="close"><span class="hidden">닫기</span></button>
        <strong class="modal-title">권한 수정이력 조회</strong>
      </div>
      <div class="modal-content has-scrollbar">
        <div class="area-scroll">
          <div class="scroll-content">
            <table class="tbl-base has-result">
              <colgroup>
                <col style="width: 4.8rem;">
                <col>
                <col>
              </colgroup>
              <thead>
                <tr>  
                  <th>NO.</th>
                  <th>이름</th>
                  <th>권한수정일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>endorhappy050</td>
                  <td>2024-02-26 15:00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>endorhappy050</td>
                  <td>2024-02-26 15:00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>endorhappy050</td>
                  <td>2024-02-26 15:00</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>endorhappy050</td>
                  <td>2024-02-26 15:00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>endorhappy050</td>
                  <td>2024-02-26 15:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn is-grays-1 is-footer" data-modal="close">닫기</button>
      </div>
    </div>
  </div>

  <div id="alert" class="modal" data-modal="alert">
    <div class="modal-dimmed"></div>
    <div class="modal-inner has-alert">
      <div class="modal-header">
        <button class="modal-close" data-modal="close"><span class="hidden">닫기</span></button>
        <strong class="modal-title" id="alert__tit">$타이틀$</strong>
      </div>
      <div class="modal-content">
        <p class="alert-msg">$메시지$</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn is-footer is-false">취소</button>
        <button type="button" class="btn is-footer is-true">확인</button>
      </div>
    </div>
  </div>

  <div id="testModal" class="modal is-event-order" data-modal="target">
    <div class="modal-dimmed"></div>
    <div class="modal-inner" style="width: 478px;">
      <div class="modal-header">
        <button class="modal-close" data-modal="close"><span class="hidden">닫기</span></button>
        <strong class="modal-title">이벤트 순서 설정</strong>
      </div>
      <div class="modal-content has-scrollbar">
        <div class="area-scroll">
          <div class="scroll-content">
            <div class="wrap-eventlist">
              <ul>
                <li>
                  <span class="event-name">%이벤트명%</span>
                  <input type="number" class="inp-order" min="1" value="1">
                </li>
                <li>
                  <span class="event-name">빙고이벤트</span>
                  <input type="number" class="inp-order" min="1" value="2">
                </li>
                <li>
                  <span class="event-name">설문이벤트</span>
                  <input type="number" class="inp-order" min="1" value="3">
                </li>
                <li>
                  <span class="event-name">일반이벤트</span>
                  <input type="number" class="inp-order" min="1" value="4">
                </li>
                <li>
                  <span class="event-name">배너링크이벤트</span>
                  <input type="number" class="inp-order" min="1" value="5">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer align-center">
        <button type="button" class="btn is-secondary-1 is-footer is-false">취소</button>
        <button type="button" class="btn is-primary is-footer is-true">저장</button>
      </div>
    </div>
  </div>
  <!-- /modal -->

  <script>
    // lnb active
    window.addEventListener('load', function () {
      setTimeout(function () {
        lnbActive(6, null, null); // 1epth, 2epth, 3dpeth
      }, 50);
    });

    // 확인 실행 함수 (실제 코드에서는 매개변수 이름으로 어떤 유효한 함수든지 전달 가능)
    function logout() {
      console.log('로그아웃 로직 실행');
    }
    function cancelLogout() {
      console.log('취소 로직 실행');
    }
  </script>

  <!-- 페이지 또는 모달 로드 시 스크립트 -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const previewModal = document.getElementById('testModal');
      previewModal.querySelector('.is-false').addEventListener('click', function() {
        console.log('취소 로직 실행');
        previewModal.classList.remove('is-show');
      });
      previewModal.querySelector('.is-true').addEventListener('click', function() {
        console.log('저장 로직 실행');
        // 저장 로직 구현, 예를 들어 입력 데이터 검증, 서버로 데이터 전송 등
        previewModal.classList.remove('is-show');
      });
    });
  </script>

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/jquery/jquery-ui.min.js"></script>
  <script src="../../resources/js/lib/xlsx-full.min.js"></script>
  <script src="../../resources/js/lib/tui-pagination.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/tui-grid.min.js"></script>
  <script src="../../resources/js/lib/swiper-bundle.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js common -->
  <script src="../../resources/js/common/ui.common.js"></script>
  <script src="../../resources/js/common/template.js"></script>
</body>
</html>