@charset "UTF-8";
/* input */
.wrap-inp {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.inp-base {
  min-width: 24rem;
  height: 2.8rem;
  padding: 0 1.2rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  border-radius: .6rem;
  border: .1rem solid var(--grays-5);
  background-color: #fff;
  vertical-align: top;
  outline: none;
}
.inp-base:read-only {
  color: var(--grays-1);
  border: .1rem solid var(--grays-5);
  background-color: #F1F2F4;
}
.inp-base:disabled {
  color:#91929C;
  border: .1rem solid var(--grays-5);
  background-color: #F1F2F4;
}
.inp-base.is-warning {
  color: var(--system-1);
  border: .1rem solid var(--system-1);
  background-color: #FFE8E7;
}
.inp-base:not(.is-warning):not(:read-only):focus {
  border-color: var(--grays-1);
}
.lb-inp {
  min-width: 4.7rem;
  margin-right: .4rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  text-align: right;
}
.lb-inp:not(:first-child) {
  margin-left: .6rem;
}

/* switch */
.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  vertical-align: top;
}
.switch [type="checkbox"] {
  position: relative;
  width: 4.4rem;
  height: 2.4rem;
  border-radius: 1.6rem;
  background-color: var(--grays-6);
}
.switch [type="checkbox"]::before {
  content: "";
  position: absolute;
  top: .2rem;
  left: .2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 .3rem .1rem rgba(0, 0, 0, .06), 0 .3rem .8rem rgba(0, 0, 0, .15);
  transition: left 150ms linear;
}
.switch [type="checkbox"]:checked {
  border-color: var(--primary);
  background-color: var(--primary);
}
.switch [type="checkbox"]:checked::before {left: 2.2rem;}
.switch [type="checkbox"]:disabled{
  background-color: var(--grays-2);
}
.switch [type="checkbox"]:checked:disabled{
  background-color: var(--secondary-10);
}
.switch.is-text {
  position: relative;
}
.switch.is-text [type="checkbox"] {
  width: auto;
  min-width: 7.2rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}
.switch.is-text [type="checkbox"]::before {
  left: .3rem; top: .3rem;
  width: 3rem;
  height: 3rem;
}
.switch.is-text [type="checkbox"]:checked::before {left: calc(100% - 3.3rem);}
.switch.is-text span{
  display: none;
  position: absolute;
  right: .3rem;
  top: 0;
  width: calc(100% - 3.6rem);
  text-align: center;
  font-size: 1.2rem;
  line-height: 3.6rem;
  color:#fff;
}
.switch.is-text .true{
  left: .3rem;
  right: auto;
}
.switch.is-text [type="checkbox"]~.false {
  display: block;
}
.switch.is-text [type="checkbox"]:checked~.false {
  display: none;
}
.switch.is-text [type="checkbox"]:checked~.true {
  display: block;
}

/* select */
.inp-select {
  height: 2.8rem;
  min-width: 12rem;
  color: var(--grays-1);
  padding: 0 3rem 0 1rem;
  border-radius: .4rem;
  border-width: .1rem;
  border-style: solid;
  border-color: var(--grays-5);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: calc(100%  - 1.2rem) 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  outline: none;
}
.inp-select.is-sm,
.inp-select.is-xs {
  padding-right: 2.8rem;
  background-position: calc(100%  - .8rem) 50%;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.52906 6.07941L7.18479 2.76557C7.41856 2.47387 7.37118 2.04821 7.07896 1.81485C6.95882 1.7189 6.80954 1.66663 6.65568 1.66663H1.34422C0.969993 1.66663 0.666626 1.96946 0.666626 2.34303C0.666626 2.49662 0.718991 2.64564 0.815107 2.76557L3.47084 6.07941C3.70461 6.37112 4.13101 6.41841 4.42323 6.18505C4.46231 6.15384 4.4978 6.11842 4.52906 6.07941Z' fill='%23A5AAAE'/%3e%3c/svg%3e");
}
.inp-select.is-sm {
  min-width: 5rem;
}
.inp-select.is-count {
  height: 2.4rem;
  border-radius: .4rem;
  margin-left: 2.4rem;
}
.inp-select:disabled {
  opacity: 1;
  color: #91929C;
  border: 0.1rem solid var(--grays-5);
  background-color: #F1F2F4;
}

/* checkbox */
.form-checkbox,
.form-checkbox > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-checkbox + .form-checkbox {
  margin-top:.8rem;
}
.form-checkbox > label {
  justify-content: center;
  gap: .6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-checkbox,
.inp-checkbox::after {
  width: 2rem;
  height: 2rem;
  border-radius: .4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.inp-checkbox {
  position: relative;
  border: .1rem solid var(--grays-5);
  background-color: #fff;
  vertical-align: top;
}
.inp-checkbox::after {
  content: "";
  position: absolute;
  top: -.1rem;
  left: -.1rem; 
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.29412L4.46154 8L11 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 0;
}
.inp-checkbox:checked::after {
  opacity: 1;
}
.inp-checkbox:disabled {
  background-color: var(--secondary-3);
}
.inp-checkbox:disabled::after {
  background-color: var(--grays-5);
}

/* radio */
.form-radio,
.form-radio > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.form-radio + .form-radio {
  margin-top:.8rem;
}
.inp-form-radio > label {
  justify-content: center;
  gap: .4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
} 
.inp-radio {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 50%;
  border: .1rem solid var(--grays-5);
  vertical-align: top;
}
.inp-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary);
  opacity: 0;
  transform: translate(-50%, -50%);
}
.inp-radio:checked::after {opacity: 1;}
.inp-radio:disabled {background-color: var(--secondary-3);}
.inp-radio:disabled::after {background-color: var(--grays-5);}

/* dropdown */
.area-dropdown {
  display: flex;
}
.area-dropdown .wrap-dropdown:not(:first-child) {
  margin-left: .8rem;
}
.ui-dropdown {
  position: relative;
  user-select: none;
  width: auto;
  min-width: 26rem;
}
.dropdown-trigger {
  position: relative;
  padding: .3rem 3rem .3rem 1rem; 
  background: #fff; 
  color: var(--grays-3);
  font-size: 1.4rem;
  line-height: 2.3rem;
  cursor: pointer; 
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 1.2rem center; 
  background-size: .8rem .4rem;
  border: .1rem solid var(--grays-5);
  border-radius: .4rem;
}
.ui-dropdown.open .dropdown-trigger {
  border-color: var(--grays-1);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 1L9 5' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; 
  z-index: 1000;
  margin-top: .4rem;
  background-color: #fff;
  border: .1rem solid var(--grays-5);
  border-radius: .4rem;
  overflow: hidden; 
}
.dropdown-item {
  padding: 1rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dropdown-title {
  margin-bottom: 1.8rem;
  color: var(--grays-3);
  font-size: 1.4rem;
  font-weight: 600;
}
.dropdown-trigger:focus, 
.ui-dropdown.open .dropdown-trigger {
  background-color: #fff;
  border-color: var(--grays-1);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 1L9 5' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.dropdown-item:hover, 
.dropdown-item:focus {
  background-color: var(--grays-6);
}
.ui-dropdown .dropdown-menu {
  display: none;
}
.ui-dropdown.open .dropdown-menu {
  display: block; 
}
.dropdown-trigger.selected {
  color: var(--grays-1);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/* searchForm */
.form-searchbox {
  display: block;
  width: 100%;
  padding: 2.8rem;
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: .4rem .4rem 2.1rem 0 rgba(86, 86, 86, 0.07);
}
.wrap-searchbox.inbtn {
  justify-content: space-between;
}
.wrap-formbox,
.wrap-searchbox,
.searchbox-item {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-formbox .wrap-group {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.wrap-formbox .wrap-group  + .wrap-group {
  margin-left: .6rem;
}
.wrap-formbox + .wrap-formbox,
.wrap-formbox + .wrap-searchbox.inbtn,
.wrap-searchbox + .wrap-searchbox {
  margin-top: 1.4rem;
}
.form-searchbox + .list-base {
  margin-top: 1rem;
}
.form-searchbox .searchbox-btn {
  display: flex;
  justify-content: flex-end;
}
.searchbox-btn .btn {
  margin-left: 1rem;
}

.area-datepicker .wrap-datepicker {
  display: flex;
  align-items: center;
  max-height: 2.8rem;
  border: .1rem solid var(--grays-5);
  background-color: #fff;
  border-radius: .4rem;
}
.area-datepicker .datePicker .tui-datepicker-input > input {
  border: 0;
}
.area-datepicker,
.area-datepicker .datePicker {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .8rem;
}
.area-datepicker .datePicker {width: auto;}
.area-datepicker .tui-datepicker-input {width: 12.4rem;}
.area-datepicker .tui-datepicker-input input {width: 100%;}
.area-datepicker .datepicker-to {margin: 0;}
.area-datepicker .datePicker .tui-datepicker-input {
  height: 2.8rem;
}
.area-datepicker .datePicker .tui-datepicker-input > input {
  color: var(--grays-1);
  font-size: 1.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 2.5H13C13.8284 2.5 14.5 3.17157 14.5 4V13C14.5 13.8284 13.8284 14.5 13 14.5H3C2.17157 14.5 1.5 13.8284 1.5 13V4C1.5 3.17157 2.17157 2.5 3 2.5Z' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 1V2M12 1V2' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 6H14M4 8.59747H8.66667M4 11H6.66667' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.area-datepicker .btn-options {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.area-datepicker .btn-options .btn {
  min-width: initial;
  height: 2.8rem;
  font-size: 1.2rem;
  color: var(--grays-3);
  background: var(--grays-6);
}
.area-datepicker .btn-options .btn.is-active {
  color: #fff;
  background-color: var(--primary);
}
.searchbox-item .inp-base {
  min-width: 42.5rem;
}
.wrap-datepicker.is-timepicker {
  gap: .8rem;
  border: 0;
  border-radius: 0;
}
.wrap-datepicker.is-timepicker .inp-select.is-sm {
  min-width: 8rem;
}
.wrap-datepicker.is-timepicker .datePicker {
  border: .1rem solid var(--grays-5);
  border-radius: .4rem;
}
.wrap-datepicker.is-timepicker .wrap-timepicker {
  display: inline-flex;
  align-items: center;
  gap: .8rem;
}

/* dl-formbox */
.dl-formbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.dl-formbox + .dl-formbox {
  margin-top: 1.4rem;
}
.dl-formbox dt {
  flex: 0 0 auto;
  min-width: 3.7rem;
  margin-right: 1.2rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  text-align: right;
}
.dl-formbox dt > .lb-inp {
  min-width: initial;
  margin-right: 0;
}
.dl-formbox dd:not(.searchbox-btn) {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem; 
  width: auto; 
}
.dl-formbox dd .inp-select,
.dl-formbox dd .inp-base {
  flex: 1 1 auto; 
  min-width: 24rem; 
  max-width: 100%; 
}
.dl-formbox dd .searchbox-item .inp-base {
  min-width: 42.5rem;
}
.dl-formbox dd .inp-select.is-sm {
  min-width: 12rem;
}
.dl-formbox dd + dt {
  margin-left: 2.2rem;
}
.dl-formbox dd .form-radio > label {
  gap: .4rem;
}
.dl-formbox .searchbox-btn {
  position: absolute;
  right: 0;
}

/* textarea */
.wrap-textarea {
  width: 100%;
}
.inp-textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  min-height: 12rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  line-height: 1.4;
  word-break: break-all;
  border: .1rem solid var(--grays-5);
  border-radius: .6rem;
  resize: none;
}
.inp-textarea::placeholder {
  color: var(--grays-3);
}
.inp-textarea:read-only,
.inp-textarea:disabled {
  color: var(--grays-2);
  background-color: var(--grays-6)
}

/* drag&drop */
.wrap-draglist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.2rem;
  margin-bottom: .8rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
  border: .1rem solid var(--grays-5);
  border-radius: .6rem;
  cursor: move;
}
.wrap-draglist li.dragging {
  opacity: 0.5;
}
.wrap-draglist li.over {
  border: .1rem dashed var(--primary);
}
.wrap-draglist .btn-drag {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='24' height='24' fill='url(%23pattern0_1325_838)'/%3E%3Cdefs%3E%3Cpattern id='pattern0_1325_838' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_1325_838' transform='scale(0.0416667)'/%3E%3C/pattern%3E%3Cimage id='image0_1325_838' width='24' height='24' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAACxAAAAsQHGLUmNAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAGdJREFUSInt0rENgDAMRNFvxBiIKTIFg2SnTMIYGYI9fDSUyGmQkMBPcnMurjlIb7PoWUrZJDUAd6+99z3K78xRgaQmaQEwswasUX5nigqeEBa4ewWO6+oo/6Zc0VCuaChXNJQr+oETUwGP2lgVtw0AAAAASUVORK5CYII='/%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat 50% / 100%;
  cursor: grab;
  opacity: .5;
}
.wrap-draglist .btn-drag:active {
  cursor: grabbing;
}