@charset "UTF-8";

.modal,
.modal .modal-dimmed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.modal {
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-dimmed {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-inner {
  position: relative;
  z-index: 5010;
  display: inline-flex;
  flex-direction: column;
  min-width: 34rem;
  min-height: 20rem;
  /* max-height: 60.8rem; */
  max-height: 74.7rem;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: .4rem .4rem 2.7rem 0 rgba(0, 0, 0, 0.2);
}
.modal .modal-header {
  position: relative;
  padding: 3.2rem 4rem 0;
}
.modal .modal-header .modal-close {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='21.3333' rx='1' transform='matrix(-0.707107 0.707107 0.707107 0.707107 9.25757 7.59082)' fill='%23333333'/%3E%3Crect x='22.9282' y='7.59082' width='2' height='21.3333' rx='1' transform='rotate(45 22.9282 7.59082)' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.modal .modal-header .modal-title {
  display: block;
  padding-bottom: 1.9rem;
  color: var(--grays-1);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  border-bottom: .1rem solid var(--secondary-3);
}
.modal-content {
  margin: 2rem 4rem 3.2rem;
  color: var(--grays-2);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
}
.modal-content .desc {
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
}
.modal-content.has-scrollbar {
  overflow: auto;
  margin: 1.6rem 2.2rem 3rem 3rem;
  padding-right: .8rem;
}
.modal-content.scroll-content {
  max-height: calc(100vh - 290px);
  margin: 1.6rem 2.2rem 3rem 3rem;
  padding-right: .8rem;
}
.modal-content .alert-msg {
  display: block;
  margin: 2rem 0;
  color: var(--grays-2);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
.modal-footer {
  display: flex;
  justify-content: center;
  padding: 0 4rem 3rem;
}
.modal-footer .btn {
  border-radius: .8rem;
}
.modal-footer .btn.is-secondary-1 {
  color: var(--grays-1);
}
.modal-footer .btn:disabled {
  color: #fff;
  background-color: var(--grays-4);
}
.modal-footer .btn+.btn {
  margin-left: .8rem;
}

/* alert */
.modal-inner.has-alert {
  max-width: 60rem;
}
.modal-inner.has-alert .modal-content {
  display: flex;
  justify-content: center;
  margin: 3.2rem 4rem;
}
.modal-inner.has-alert .modal-content .alert-msg {
  margin: 1.4rem 0;
  word-break: keep-all;
}

/* confirm */
.modal-inner.has-confirm {
  max-width: 60rem;
}
.modal-inner.has-confirm .modal-content {
  margin: 3.2rem 4rem;
}
.modal-inner.has-confirm .modal-content .alert-msg {
  margin: 1.4rem 0;
}

.modal .pagination {
  margin-top: 2rem;
}

/* login */
.alert-msg .user-id,
.alert-msg .user-date {
  display: block;
}

/* table dl type */
.modal .tbl-dl {
  flex-wrap: wrap;
}
.modal .tbl-dl dl {
  display: flex;
  align-items: center;
  width: 100%;
}
.modal .tbl-dl dl + dl {
  margin-top: 1.4rem;
}
.modal .tbl-dl dt {
  display: inline-flex;
  justify-content: flex-end;
  min-width: 8rem;
  padding-right: 0;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
}
.modal .tbl-dl dd {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 1.2rem;
  line-height: 2.8rem;
}
.modal .tbl-dl .inp-base {
  width: 100%;
  min-width: 26rem;
}
.modal .tbl-dl dd .datepicker-to {
  font-size: 1.4rem;
  font-weight: 400;
}
.modal .tbl-dl .dl-tit {
  margin-bottom: 1rem;
  color: var(--grays-1);
  font-size: 1.3rem;
  font-weight: 500
}
.modal .tbl-dl .form-radio > label {
  gap: .4rem;
}
.modal .area-tbl-dl {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.modal .area-tbl-dl .tbl-dl .inp-base {
  min-width: 1.6rem;
}
.modal .area-tbl-dl .tbl-dl dt {
  justify-content: flex-start;
  min-width: 7rem;
}
.modal .tbl-dl dt em.text-primary {
  margin-left: .2rem;
}
.modal .area-tbl-dl .tbl-dl dd {
  flex: auto;
  padding-left: 0;
}
.modal .area-tbl-dl .tbl-dl + .tbl-dl {
  margin-left: 2rem;
  padding-left: 2rem;
}
/*  회원정보변경 */
.modal.is-userinfo .wrap-group .tit {
  margin-bottom: 1rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 600;
}
.modal.is-userinfo .manage {
  margin-bottom: 2rem;
  padding: 2rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background: var(--grays-6);
  border-radius: .8rem;
}
.modal.is-userinfo .manage span {
  color: var(--grays-2);
}
.modal.is-userinfo .tbl-dl + .wrap-textarea {
  margin-top: 2rem;
}
.modal.is-userinfo .tbl-dl dt {
  min-width: 6rem;
}
.modal.is-userinfo .tbl-dl .inp-select {
  width: 100%;
}
.modal .wrap-pagination .pagination {
  margin-top: .4rem;
}

/* etc */
.form-radio > label,
.form-checkbox > label {
  color: var(--grays-1);
  font-weight: 400;
}