@charset "UTF-8";
.area-tbl {
  display: flex;
  gap: 2.8rem;
  margin-top: 2.8rem;
}
.area-tbl .wrap-tbl + .wrap-tbl {
  margin-top: 0;
}
.wrap-tbl + .wrap-tbl {
  margin-top: 3rem;
}
.tbl-base {
  width: 100%;
  table-layout: fixed;
  margin-top: 1rem;
  border-top: .1rem solid var(--grays-3);
  border-bottom: .1rem solid var(--secondary-3);
}
.tbl-base + .tbl-base {margin-top: 1.2rem;}
.tbl-base > thead > tr > th,
.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td,
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  height: 4.8rem;
  padding: .5rem .8rem;
  color: var(--grays-1);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: center;
}
.tbl-base > thead > tr,
.tbl-base > tbody > tr {border-bottom: .1rem solid var(--secondary-3);}
.tbl-base > thead > tr > th {
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--grays-6);
  border-right: .1rem solid var(--grays-5);
}
.tbl-base > thead > tr > th:last-child {
  border-right: 0;
}
.tbl-base > tfoot > tr > th,
.tbl-base > tfoot > tr > td {
  font-weight: 500;
  background-color: var(--secondary-1);
}
.tbl-base > tfoot > tr > td {
  text-align: right;
}

.tbl-base > tbody > tr > th,
.tbl-base > tbody > tr > td {
  color: var(--grays-2);
  font-weight: 400;
  background: #fff;
}
.tbl-base > colgroup + tbody > tr > th {
  padding: .6rem 2rem;
  color: var(--grays-1);
  font-weight: 600;
}
.tbl-base > colgroup + tbody > tr > td {padding: .6rem 1.8rem;}
.tbl-base > colgroup + tbody > tr > th {background-color: var(--secondary-1);}
.tbl-base > tbody > tr > th.align-center .form-checkbox,
.tbl-base > tbody > tr > td.align-center .form-checkbox {
  justify-content: center;
}
.tbl-base .no-result {
  position: relative;
  padding: 20.2rem 0 8rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grays-3);
  text-align: center;
}
.tbl-base .no-result::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  margin-top: 10.8rem;
  width: 8rem;
  height: 8rem;
  background: url("../../images/ico/ico-nodata.png") no-repeat 50% 100% / 100%;
  transform: translateX(-50%);
}
.tbl-title {
	margin-bottom: 1rem;
	color: var(--grays-1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.5;
}
.tbl-base .wrap-group.is-flex {
  display: flex;
  align-items: center;
}
.tbl-base .wrap-group.is-flex .form-checkbox + .form-checkbox {
  margin-top: 0;
  margin-left: 1.6rem;
}

/* .table has-left  */
.tbl-base.has-left > thead > tr > th,
.tbl-base.has-left > tbody > tr > th,
.tbl-base.has-left > tbody > tr > td {text-align: left;}

/* .table has-data */
.tbl-base.has-data > tbody > tr > td:not(.no-result) {text-align: right;}

/* module-top 박스 내 테이블 */
.module-top .tbl-base > tbody > tr > th, .tbl-base > tbody > tr > td {
  color: var(--grays-1);
}

/* tbl-head */
.tbl-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2.8rem;
  margin-bottom: 1rem;
}
.tbl-head.is-end {
  justify-content: flex-end;
}
.tbl-head .count-text {
  color: var(--grays-1);
  font-size: 1.4rem;
}
.tbl-head .count-text .count-num {
  font-weight: 600;
}
.tbl-head .inp-select {
  min-width: 10.6rem;
  padding: .3rem 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 5L0.535899 0.499999L7.4641 0.5L4 5Z' fill='%23222222'/%3E%3C/svg%3E%0A");
}
.tbl-head .head-option .inp-select {
  margin-right: .8rem;
}
.tbl-btn-group {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 1rem;
}
.tbl-btn-group.is-right {
  justify-content: flex-end;
}
.tbl-btn-group.is-center {
  justify-content: center;
}

/* scroll-content */
.scroll-content {overflow: auto;}
.scroll-content > .table.has-result {margin-top: 0;}
.scroll-content > .table.has-result > thead {
  position: sticky;
  z-index: 1;
	top: .1rem;
}
.scroll-content > .table.has-result > thead::before,
.scroll-content > .table.has-result > thead::after {
  position: absolute;
  left:0;
  display: block;
  width: 100%;
  content: "";
}
.scroll-content > .table.has-result > thead::before {
  top: -.1rem;
  height: .2rem;
  background-color: var(--grays-10);
}
.scroll-content > .table.has-result > thead::after {
  bottom: 0;
  height: .1rem;
  background-color: var(--grays-4);
}
.scroll-content > .table.has-result > thead > tr:not(:first-child) > th {
 position:relative; 
}
.scroll-content > .table.has-result > thead > tr:not(:first-child) > th:before {
  content:'';position:absolute;left:0;top:-.1rem;width:100%;height:.1rem;background:#E9E9E9;
}
.tbl-nodata, 
.tbl-nodata tbody tr {
  border-bottom: 0;
}
.tbl-base .btn.is-h26 {
  min-width: 4.7rem;
}

/* rowspan이 있을 경우 border-left 값 추가 */
.tbl-base tr > th.is-border {
  border-left: .1rem solid var(--grays-5);
} 

/* dl type */
.tbl-dl {
  display: inline-flex;
  align-items: center;
  line-height: 2rem;
}
.tbl-dl dt {
  padding-right: 1.2rem;
  color: var(--grays-2); 
}
.tbl-dl dd {
  color: var(--grays-1);
  font-weight: 500;
}
.tbl-dl + .tbl-base {
  margin-top: 1.4rem;
}
.tbl-dl + .tbl-dl {
  margin-left: 2.8rem;
  padding-left: 2.8rem;
  border-left: .1rem solid #D9D9D9;
  line-height: 2.2rem;
}