@charset "UTF-8";

.dashboard > section {
  display: flex;
  flex-direction: column;
}
.dashboard .content-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dashboard .content-title p > span {
  display: inline-block;
  margin-left: .8rem;
  color: var(--grays-2);
  font-size: 1.4rem;
  font-weight: 400;
}
.dashboard .content-title .btn {
  min-width: 5.8rem;
  height: 2.6rem;
  color: var(--grays-2);
  font-size: 1.2rem;
  background: transparent;
  border: .1rem solid var(--grays-2);
  border-radius: .4rem;
}
.dashboard .dashboard-info {
  display: flex;
  justify-content: space-between;
}
.dashboard-info .dashboard__card {
  width: calc(100% / 3 - 1.4rem);
  padding: 2.8rem;
  border-radius: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}
.dashboard-info .card-title {
  display: block;
  font-size: 1.6rem;
}
.dashboard .chart-form {
  margin-top: 4rem;
}
.dashboard .chart-group {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  margin-bottom: 2.8rem;
}
.dashboard .chart-group .chart-item {
  flex: 1;
}
.dashboard .chart-group .chart {
  flex: 1;
  padding: 2.8rem;
  border-radius: 1.6rem;
  background-color: #fff;
}