@charset "UTF-8";

/* 모달 - 이벤트 순서 설정 */
.modal.is-event-order .wrap-eventlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
  gap: 1rem;
}
.modal.is-event-order .wrap-eventlist .event-name {
  flex: 1;
  display: inline-block;
  padding: 1.9rem 2rem;
  color: var(--grays-1);
  font-size: 1.6rem;
  font-weight: 500;
  background: var(--grays-6);
  border-radius: 1.2rem;
}
.modal.is-event-order .wrap-eventlist .inp-order {
  width: 6rem;
  min-width: 6rem;
  height: 6rem;
  padding-left: 1.4rem;
  color: var(--grays-1);
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1.2rem;
  border: .1rem solid var(--grays-5);
  text-align: center;
}
/* .inp-order::-webkit-inner-spin-button,
.inp-order::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
} */
.event .wrap-editor {
  /* 임시 스타일 */
  width: 100%;
  min-height: 6rem;
  padding: 2rem;
  border: .1rem solid var(--grays-5);
  border-radius: .4rem;
}
.event .wrap-editor + .form-checkbox {
  margin-top: 1.4rem;
}
.event .tbl-btn-group.is-count {
  margin-top: 1rem;
}
.event .tbl-btn-group.is-count .btn {
  min-width: 4rem;
  height: 2.8rem;
  font-size: 1.6rem;
  background: transparent;
} 
.event-detail .dl-formbox dd {
  flex: 1;
}
.event .wrap-upload-img {
  width: 100%;
  align-items: flex-start;
}
.event .wrap-upload-img .upload-thumb {
  width: 100%;
}
.event .wrap-upload-html {
  align-items: flex-start;
}
.event .event-detail {
  margin-top: 2.8rem;
}
.event .event-detail .inp-textarea {
  max-width: calc(100% - 12rem);
  min-height: 6rem;
}
.event .dl-formbox dd.wrap-anwser {
  gap: 1rem;
}
.event .wrap-anwser .form-radio + .form-radio {
  margin-top: 0;
}
.event .wrap-survey {
  margin-top: 1rem;
}

.event .uploaded-photos-view {
  margin: 1.4rem 0 0;
}
.uploaded-photos-view .thumbnail-container {
  margin-left: 0;
}
.uploaded-photos-view.is-sm .thumbnail-container {
  margin-left: 0;
  gap: 1.6rem;
}
.event .uploaded-photos-view.is-sm .thumbnail {
  top: -.5rem;
  right: -.5rem;
  width: 4.2rem;
  height: 4.2rem;
}
.event .uploaded-photos-view.is-sm .thumbnail .delete-btn {
  width: 1.4rem;
  height: 1.4rem;
  background-size: .6rem;
}