@charset "UTF-8";

.members .module-top .tbl-title {
  margin-bottom: 1.4rem;
}
.members .tbl-title + .box-form {
  margin-top: 0;
}
.members .tbl-head.is-top {
  margin-top: 1rem;
}
.members .tbl-head.is-top .head-option {
  display: flex;
  gap: 1rem;
}
.members .tbl-head.is-top .head-option .btn.is-outline-2 {
  min-width: 4.1rem;
  padding: .4rem 1rem;
  color: var(--grays-1);
  background-color: transparent;
}